/* Huvudnavigationsmenyns stil */
nav#mainMenu {
    background-color: #333; /* Mörk bakgrundsfärg */
    overflow: hidden; /* Gömmer innehåll utanför gränserna */
}

/* Stil för menyns knapp */
#menuButton {
    background-color: #333; /* Mörk bakgrundsfärg */
    color: white; /* Vit textfärg */
    padding: 1vw; /* Padding för storlek */
    font-size: 1.5vw; /* Textstorlek */
    border: none; /* Ingen kant */
    cursor: pointer; /* Pekmarkör */
}

/* Dropdown-menyns grundläggande stil */
.dropdown-content {
    display: none; /* Gömd initialt */
    position: absolute; /* Positionering oberoende av andra element */
    background-color:lightgray; /* Ljus bakgrundsfärg */
    min-width: 50vw; /* Minsta bredd */
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); /* Skugga för djup */
    z-index: 1; /* Z-index för stackordning */
}

/* Stil för länkar inuti dropdown-menyn */
.dropdown-content a {
    color: black; /* Svart textfärg */
    padding: 1.2vw 1.5vw; /* Padding för storlek */
    text-decoration: none; /* Ingen understrykning */
    display: block; /* Blockelement */
    text-align: left; /* Textjustering till vänster */
}

/* Stil för hover-effekt på länkar */
.dropdown-content a:hover {
    background-color: #504c4c; /* Ljusare bakgrundsfärg vid hover */
    color: white; /* Vit textfärg vid hover */

}

/* Media queries för mindre skärmar */
@media screen and (max-width: 600px) {
    #menuButton {
        font-size: 3vw; /* Större textstorlek */
    }

    .dropdown-content {
        position: relative; /* Relativ positionering */
        min-width: 80vw; /* Bredd anpassad till mindre skärmar */
    }

    .dropdown-content a {
        padding: 3vw 4vw; /* Större padding */
    }
}
